.card-grey-line{
  margin-top: 10px;
  background-color: rgb(41, 52, 172);
  height: 2px;
  width: 100%;
}

.center-btn {
  position: absolute;
  left: 10px;
  top: 80px;
  z-index: 2;
}

.card .mb-3 label{
  margin-top: 15px;
}

.addNote-body .card {
  color: white;
  border: 1px solid white;
  background:none;
  height: 400px;
  width: 500px;
  position: absolute;
  top: 150px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.addNote-body input{
  background: none;
  color: white;
}

.addNote-body input:focus{
  border: none;
  color: white;
  background: none;
}


.addNote-body textarea{
  background: none;
  color: white;
}

.addNote-body textarea:focus{
  color: white;
  background: none;
}

@media only screen and (max-width:600px){

  .addNote-body .card{
    width: 90%;
  }
}
