:root {
  --color: #8789a5;
  --red-col: #c83b38;

  --hover: rgb(70, 64, 64);
  --bgcolor: #261881;
}

.home-body {
  position: relative;
  animation: nav-load 600ms ease-in;
  z-index: 0;
  background-color: rgb(44, 43, 43);
  animation: nav-load 600ms ease-in;

}

@keyframes nav-load{
  0%{
    transform: translateY(-100%);
  }

  100%{
    transform:translateY(0);
  }
}


.white{
  color: #aaa;
}



ul a:hover{
cursor: pointer;
}

.container-fluid span{
  color: #aaa;
}


.note-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.edit-icon:hover{
  color: black;
}

.del-icon:hover{
color: #c83b38;
}
