:root {
 
  --bgcolor: #0d0634;
}
h1{
  color: #aaa;
}

.grey-line{
  background-color: #8789a5;
  height: 1px;
}

.heading-search{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 3;
}

.heading-search button{
  background-color: #111;
  border: 1px solid #aaa;
  color: #aaa;
}



.heading-search button:hover{
  cursor: pointer;
  color: white;
  
}

.col-md-6 .card{

  background-color: #111;
  color: #aaa;
}

.card{
  height: 300px;
  position: relative;
  border: 1px solid #aaa;
}

.card-text{
  height: 210px;
  overflow: scroll;
  overflow-x: hidden;
}


.modal-content{
  background-color: #111;
  color: #aaa;
  border: 1px solid #aaa;
}

.modal-content input{
  background-color: #111;
  color: #aaa;
}

.modal-content textarea{
  background-color: #111;
  color: #aaa;
}

.modal-content input:focus{
  background-color: #111;
  color: #aaa;
}

.modal-content textarea:focus{
  background-color: #111;
  color: #aaa;
}

.modal-content h5{
  color: #aaa;
}
form{
  color: #aaa;
}


.placeholder-glow{
  width: 100%;
}

@media (min-width:766px) and (max-width:992px){

  #del-note{
    position: relative;
    top: 3px;
  }

  

.card-text{
  height: 250px;
  overflow: scroll;
  overflow-x: hidden;
}

  .col-md-6 .card{
   height: 400px;
  }
}

@media (max-width:766px){
  .col-md-6 .card{
    height: 400px;
  }

  .card-text{
    height: 275px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .heading-search button:hover{
    cursor: pointer;
  }
}

@media (max-width:351px) {
  .col-md-6 .card{
    height: 350px;
  }

  .card-text{
    height: 275px;
    overflow: scroll;
    overflow-x: hidden;
  }


}

@media (max-width:210px){
  .col-md-6 .card{
    height: 300px;
  }

  .card-text{
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
  }


}